/* шрифт: Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* отредактироватть копирование font-family: inherit; и оставить только там где нужно*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* узнать поподробнее и добавить в конспект */
    flex-direction: column;
    /* узнать про min-height: 100vh, почему это центр */
    min-height: 100vh;
    background: #f9f9f9;
    font-family: inherit;
}

.logo {
    margin-bottom: 60px;
}


.wrapper {
    width: 408px;
    background: white;
    /* height: 614px; */
    border-radius: 12px;
    /* узнать про padding и как от куда он берется, типо почему когда было width: 340px
    то было неверно*/
    padding: 34px;
    font-family: inherit;
}

.wrapper .successful-icon {
    display: block;
    margin: 0 auto 60px auto;
}

.wrapper h1 {
    font-size: 24px;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    font-family: inherit;
    font-weight: 600;
}

.wrapper .email-title {
    font-size: 14px;
    color: black;
    margin-bottom: 8px;
    font-family: inherit;
    font-weight: 500;
}

.wrapper .pass-title {
    font-size: 14px;
    color: black;
    margin-bottom: 8px;
    font-family: inherit;
    margin-top: 24px;
    font-weight: 500;
    /* добавить в конспект по css таблицу соответствий типа жирности к значению*/
}

.wrapper .repass-title {
    font-size: 14px;
    color: black;
    margin: 8px 0px;
    font-family: inherit;
    font-weight: 500;
}

.wrapper .reg-successful-title {
    font-size: 16px;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    font-family: inherit;
    font-weight: 600;
}

.wrapper .new-pass-successful-title {
    font-size: 16px;
    text-align: center;
    color: black;
    margin-bottom: 45px;
    font-family: inherit;
    font-weight: 600;
}

.wrapper p {
    font-size: 12px;
    margin-bottom: 8px;
    color: #C7C8CA;
    font-family: inherit;
    font-weight: normal;
}

.wrapper .reg-successful-text {
    width: 314px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
    color: #C7C8CA;
    font-family: inherit;
    font-weight: normal;
}

.wrapper .reset-password-text {
    font-size: 12px;
    margin-bottom: 20px;
    color: #C7C8CA;
    font-family: inherit;
    font-weight: normal;
}

.wrapper .email-sent-text {
    font-size: 12px;
    width: 336px;
    text-align: justify;
    margin-bottom: 20px;
    color: #C7C8CA;
    font-family: inherit;
    font-weight: normal;
}

.wrapper .new-password-text {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: -8px;
    color: #C7C8CA;
    font-family: inherit;
    font-weight: normal;
}

.wrapper .link-error-text {
    width: 326px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
    color: #C7C8CA;
    font-family: inherit;
    font-weight: normal;
}

.wrapper .text-for-pass {
    font-size: 12px;
    margin: 8px 0px;
    padding: 5px 0px;
    color: #C7C8CA;
    font-family: inherit;
    font-weight: normal;
}

.wrapper .input-box {
    width: 100%;
    height: 48px;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    /* узнать зачем это */
    border: none;
    outline: none;
    border: 1.5px solid #C7C8CA;
    border-radius: 8px;
    font-size: 14px;
    /* узнать потом почему я был не прав в первый раз при padding: 15px 15px 15px 41px
    Типо почему всё съёхало и иконка не ставилась нормально и линки снизу тоже съёхали*/
    padding: 15px 41px 15px 41px;
    font-family: inherit;
    font-weight: normal;
}

.input-box input::placeholder {
    color: #C7C8CA;
    font-family: inherit;
    font-weight: normal;
}

.input-box input:hover {
    border: 1.5px solid #CCDCF0;
    box-shadow: 0 0 0 0.5px #CCDCF0;
    /* Имитируем еще 0.5px толщины без смещения текста, изучить подробнее в будущем */
}

.input-box input:focus {
    border: 1.5px solid #0FA1D7;
    box-shadow: 0 0 0 0.5px #0FA1D7;
    color: #0FA1D7;
    /* чтобы стандартная синяя рамка браузера не перекрывала голубой цвет */
    outline: none;
}

/* Состояние, когда в поле введен текст, изучить подробнее в будущем */
.input-box input:not(:placeholder-shown) {
    border: 1.5px solid #C7C8CA;
    box-shadow: 0 0 0 0.5px #C7C8CA;
    color: #000000;
}

/* узнать как это работает */
.input-box .input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.input-box .eye-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px 0px;
    margin-top: 8px;
    font-family: inherit;
    font-weight: normal;
}

/*Потом подумать об оптимизации кода, а то дублирование бесит */
.wrapper .link {
    display: flex;
    justify-content: right;
    font-size: 12px;
    padding: 11.5px 0px;
    margin-top: -6px;
    font-family: inherit;
    font-weight: normal;
}

.links a {
    color: #0F2E6B;
    text-decoration: none;
    font-family: inherit;
    font-weight: normal;
}

.links a:hover {
    text-decoration: underline;
}

.links p {
    color: #000000;
    font-family: inherit;
    font-weight: normal;
}

.link a {
    color: #0F2E6B;
    text-decoration: none;
    font-family: inherit;
    font-weight: normal;
}

.link a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 48px;
    background: #0F2E6B;
    /* узнать зачем это */
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 6px;
    color: white;
    /* узнать зачем это и про цвет
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    */
    box-shadow: 0 4px 10px rgba(15, 46, 107, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    transition: all 0.3s ease;
    /* Добавляем плавность для всех изменений, изучить подробнее потом */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/*Узнать поподробнее*/
.btn:hover {
    background: #0F2E6B;
    box-shadow: 0 10px 25px rgba(15, 46, 107, 0.4);
    /* Глубокая тень при наведении */
    transform: translateY(-2px);
    /* Кнопка чуть-чуть приподнимается */
}

/*Узнать поподробнее*/
.btn:active {
    background: #0A2355;
    transform: translateY(0);
    /* При клике кнопка возвращается на место */
    box-shadow: 0 2px 5px rgba(15, 46, 107, 0.2);
    /* Тень почти исчезает (эффект нажатия) */
}

/* Стили для валидации */
.input-box input.error {
    border: 1.5px solid #FF383C;
    box-shadow: 0 0 0 0.5px #FF383C;
    color: #FF383C;
}

.error-message {
    color: #FF383C;
    font-size: 12px;
    margin-top: -14px;
    /* Немного приподнимаем к блоку с ссылками */
    /* margin-bottom: 20px; */
    text-align: left;
    min-height: 14px;
    /* Чтобы не скакало при появлении, узнать поподробнее */
}