.page {
  width: 100%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  color: var(--color-text);
  font-weight: 600;
  font-size: 24px;
}

.layout {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
}
